
*.out
.venv
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Ignore specific executables
hello
2_Types_and_Functions/challenge24
4_Kleisli_Categories/kleisli_categories
4_Kleisli_Categories/writer
4_Kleisli_Categories/optional
6_Simple_Algebraic_Data_Types/main
7_Functors/reader
